body {
    height: 100vh;
    position: relative;
}

.background1,
.background2 {
    position: absolute;
    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
background-size: 200% 200% !important;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 9s;
    /* Smooth transition for the opacity change */
}

.background1 {
    background: linear-gradient(-45deg, #C22419  ,#991D14 , #E62B1E  , #70150F);
}

.background2 {
    background: linear-gradient(-45deg, #1DDE6D , #1DDE6D , #1EE671 , #14994B);
}

.active {
    opacity: 1;
    /* Make active background visible */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

button#changeBackground {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
}

button#changeBackground:hover {
    background-color: #f0f0f0;
}


#viz{
    position: absolute;
    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;
    z-index:2;
}




.controls {
    background: #3f4656;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    box-shadow: 0 4px 20px -1px rgba(18, 22, 33, .7);
}
@media (max-width: 1200px) {
    .controls {
        margin-top: -4%;
   }
}
@media (max-width: 600px) {
    .controls {
        flex-direction: column;
   }
}
.controls label {
    color: #cdd9ed;
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin-bottom: 16px;
}
@media (max-width: 600px) {
    .controls label {
        margin-bottom: 12px;
   }
}
.controls [type="range"] {
    width: 160px;
}
@media (max-width: 600px) {
    .controls [type="range"] {
        width: 280px;
   }
}
.controls > div:not(:last-child) {
    margin-right: 20px;
}
@media (max-width: 600px) {
    .controls > div:not(:last-child) {
        margin: 0 0 24px 0;
   }
}
.rangeSlider {
    position: relative;
    background: none;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}
.rangeSlider.rangeSlider__horizontal {
    height: 10px;
    width: 160px;
}
.rangeSlider .rangeSlider__fill {
    border-radius: 7px;
    background: #fff;
    position: absolute;
}
.rangeSlider .rangeSlider__fill:before {
    content: '';
    left: -2px;
    top: -2px;
    bottom: -2px;
    right: -2px;
    border: 2px solid #3f4656;
    border-radius: 6px;
    position: absolute;
}
.rangeSlider .rangeSlider__fill__horizontal {
    height: 100%;
    top: 0;
    left: 0;
}
.rangeSlider .rangeSlider__handle {
    border: 2px solid #3f4656;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    background: white;
    border-radius: 50%;
}
.rangeSlider .rangeSlider__handle__horizontal {
    top: -7px;
}



.text{
    position:absolute;
    color:white;
}

.text1 {
    top: 50px;
    left:150px;
    font-size: 30px;
    width:680px;
}

.text2 {
    top: 50px;
    right:250px;
    font-size: 25px;
    width:480px;
}

.caption{
    position:absolute;
    top:500px;
    left:150px;
    z-index: 10;;
}

.lem {
    position:absolute;
    bottom:100px;
    left:150px;
}